[Desktop Entry]
Name=Audio decoder configuration
Exec=env WINEPREFIX="/home/leo/ssd/games/wine/tsuki" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\ffdshow\\\\Audio\\ decoder\\ configuration.lnk
Type=Application
StartupNotify=true
Path=/home/leo/ssd/games/wine/tsuki/dosdevices/c:/Program Files/ffdshow
Icon=476C_ffdshow.4
StartupWMClass=rundll32.exe
