[Desktop Entry]
Name=LAV Audio Configuration
Exec=env WINEPREFIX="/home/leo/ssd/games/wine/tsuki" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\LAV\\ Filters\\\\LAV\\ Audio\\ Configuration.lnk
Type=Application
StartupNotify=true
Path=/home/leo/ssd/games/wine/tsuki/dosdevices/c:/Program Files/LAV Filters/x86
Icon=A7A4_LAVAudio.0
StartupWMClass=rundll32.exe
