[Desktop Entry]
Name=LAV Splitter Configuration
Exec=env WINEPREFIX="/home/leo/ssd/games/wine/tsuki" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\LAV\\ Filters\\\\LAV\\ Splitter\\ Configuration.lnk
Type=Application
StartupNotify=true
Path=/home/leo/ssd/games/wine/tsuki/dosdevices/c:/Program Files/LAV Filters/x86
Icon=C5E9_LAVSplitter.0
StartupWMClass=rundll32.exe
