[Desktop Entry]
Name=Uninstall LAV Filters
Exec=env WINEPREFIX="/home/leo/ssd/games/wine/tsuki" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\LAV\\ Filters\\\\Uninstall\\ LAV\\ Filters.lnk
Type=Application
StartupNotify=true
Path=/home/leo/ssd/games/wine/tsuki/dosdevices/c:/Program Files/LAV Filters
Icon=397C_unins000.0
StartupWMClass=unins000.exe
