@-moz-document url-prefix(about:blank) {
    html > body:empty {
        background-color: rgb(16,16,16) !important;
    }
}
@-moz-document url(about:blank) {
    html > body:empty {
        background-color: rgb(16,16,16) !important;
    }
}


@-moz-document url("about:blank") {
    @media (prefers-color-scheme: dark) {
        :root {
            background-color: #101010;
        }
    }
}

body {
		background-color: #101010;
	}



:root{ scrollbar-width: none !important } 


