#viewerContainer > #viewer > .page > .canvasWrapper > canvas {
   filter: grayscale(100%);
   filter: invert(100%);
}

@-moz-document url("about:newtab"),url("about:blank"), url("about:home") {  
   
        background-color: #131313 !important;
    }



:root{ scrollbar-width: none !important } 


