[Desktop Entry]
Type=Application
Name=NOTEPAD
MimeType=application/x-wonderswan-color-rom;
Exec=env WINEPREFIX="/home/leo/ssd/games/wine/tsuki" wine start /ProgIDOpen scriptletfile %f
NoDisplay=true
StartupNotify=true
Icon=B5C2_NOTEPAD.0
